/.bundle
/db/*.sqlite3
/log/*.log
/tmp
/.idea/*
/public/uploads
*/*.DS_Store
.DS_Store
*.swp
*~
.project
bundler_stubs/
.bundle
db/*.sqlite3
log/*.log
tmp/
*.bak
.redcar.tddium*
.tddium
.DS_Store
/config/database.yml
logfile
/coverage